/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
.header {
  background-color: #FFDBAA;
}

.h1_inline{
  display: inline;
}

h1 {
  color: #553100;
  margin-right: 1200px;
  margin-left: 50px;
  font-size: 300%;
}

.main_content {
  background-color: #D4A76A;
}

.button_small_box {
  background-color: #805215;
  color: white;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: small;
}

.button_large_box {
  background-color: #805215;
  color: white;
  width: 1025px;
  height: 50px;
  font-weight: bold;
  font-size: small;
}

.button_header {
  background-color: #805215;
  color: white;
  width: 100px;
  height: 50px;
  margin: 25px;
  font-weight: bold;
  font-size: medium;
}

.small_box {
  border: 1px solid;
  background-color: white;
  width: 250px;
  height: 175px;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 275px;
  margin-right: 50px;
  display: inline-block;
}

.large_box {
  border: 1px solid;
  background-color: white;
  width: 1050px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 500px;
  margin right: 50px;
  padding: 20px;
}
.header_text {
  text-align: left;
}

.box_content {
  text-align:left;
}
